.fandango-player button {
    font-family:"FontAwesome";
    width: 40px;    
    height: 40px;
    background: #fff;
    color: #333;
    border: 3px solid transparent;
    padding: 0;
    margin: 0 7px 0 0;
    font-size: 24px;
}

.fandango-player button:hover,.fandango-player button:focus,.icon-hover {
    border: 3px solid #fff;
    background: #fff;
    color: #bd5532;
    outline:none;
}

.fandango-player button:active,.fandango-player button.active {
    background: #bd5532;
    color: #fff;
    outline:none;
    border: 3px solid #bd5532;
}

.fandango-cover, .fandango-description {
    background: #333;
    padding: 15px;
    display: table-cell;
    float: none;
    vertical-align: top;
}

.fandango-description {
    color: #fff;
}

.fandango-transcript-autoscroll {
    padding: 0;
    top: 0;
    border-bottom: 1px solid #eee;
    color: #fff;
    overflow-x: hidden;
    width: 100%;
    background: #333;
    padding: 5px 10px;
}

input.fandango-transcript-autoscroll-control {
    margin: 0 10px 0 0;
}

.fandango-transcript {
    overflow-y: scroll;
    padding: 20px 15px 30px;
    background: #333;
    border-left: none;
    color: #fff;
}

.fandango-progress, .fandango-status {
    margin-bottom: 1em;
}

.fandango-progressbar {
    padding-top: 5px;
}

.fandango-progresstime,.fandango-status {
    font-size: 13px;
    padding: 0;
}

.fandango-status {
    text-align: right;
}

.fandango-player,.fandango-playlist {
    background: #333;
}

.fandango-player {    
    text-align: center;
    padding: .5em
}

.microphone-active.icon-microphone:focus {    
    background:#333;
    color:#fff;
}

.audio {
    display: none;
}

span[data-start].active {
    background-color: #bd5532; 
    color: #fff;
    outline: 3px solid #bd5532;
}

span[data-start]:hover {
    background-color: #fff;
    color: #333;
    outline: 3px solid #fff;
}

.help-modal {
    margin: 10px;
}

.hand {
    cursor: pointer;
}

ol.tracks {
    counter-reset: li;
    list-style: none;
    *list-style: decimal;
    padding: 0;
}

.tracks li{
    position: relative;
    display: block;
    padding: .4em .4em .4em .8em;
    *padding: .4em;
    margin: .5em 0 .5em 2.5em;
    background: #fff;
    color: #333;
    cursor: pointer;
    text-decoration: none;
    outline: none;
}

.tracks li:hover,.tracks li.active,.tracks li:focus{
    outline: none;
    background: #bd5532;
    color: #fff;
    cursor: pointer;
}

.tracks li:before{
    content: counter(li);
    counter-increment: li;
    position: absolute; 
    left: -2.5em;
    top: 50%;
    margin-top: -1em;
    background: #bd5532;
    color: #fff;
    height: 2em;
    width: 2em;
    line-height: 2em;
    text-align: center;
    font-weight: bold;
    cursor: pointer;
}

.fandango-player-controls.col-xs-6 {
    text-align: center;
    margin: .5em auto;
}

.fandango-right-controls.pull-right.col-md-6 {
    text-align: right;
    display: inline-block;
}

.fandango-left-controls.pull-left.col-md-6 {
    text-align: left;
    display: inline-block;
}

@media screen and (max-width:768px) {
    .fandango-player-controls.col-xs-6 {
        text-align: center !important;
        margin: .5em auto;
        width:100% !important;
    } 
}

/*slider */

.ui-widget-content { 
    background: #ddd; 
}
.ui-slider { 
    position: relative; 
    text-align: left; 
}
.ui-slider .ui-slider-handle { 
    position: absolute; 
    z-index: 2; 
    width: 1.2em; 
    height: 1.2em; 
    cursor: pointer; 
}
.ui-slider-horizontal { 
    height: .4em; 
}
.ui-slider-horizontal .ui-slider-handle { 
    top: -.4em; 
    margin-left: -.6em; 
}
.ui-state-default, .ui-widget-content .ui-state-default, .ui-widget-header .ui-state-default { 
    background: #bd5532;    
    border-radius: 50%;
    box-shadow: 0px 0px 0px 8px rgba(189, 85, 50, .3);
}
